@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.8em;
  font-family: 'Raleway', sans-serif; }

article {
  padding:0 1em; }

section{
  margin: 1em;
  padding: 1em; }

header, main, footer {
  margin: 0 auto; }

header {
  padding: 2em;
  text-align: center;
  background-image: url('plush-design-studio-PWxsExxrf5g-unsplash.jpg'); /*Photo by Plush Design Studio on Unsplash*/
  background-size: cover;
  background-position: center;
  color: grey; }

header section {
  margin: 0 auto;
  max-width: 640px;
  margin-bottom: 2.3em; }

header img {
  max-width: 125px;
  border-radius: 50%; }

.photo {
  margin-top: 3em; }

h1 {
  margin: 0.1em 0;
  text-transform: uppercase; }

.fab {
  border: 1px solid rgb(128, 127, 125);
  border-radius: 50%;
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  margin: 5px;
  text-align: center; }

a .fab { color: rgb(128, 127, 125); }

main { 
  max-width: 1140px; }

h2 {
  font-weight: bold;
  text-transform: uppercase; }

.school span {
  color: rosybrown; }

h3 {
  color: rosybrown; }

.skills {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.skills .column {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.weselne-dzwonki, .media-wiki, .lotto-machine, .my-cv {
  padding: 1.5em;
  position: center;
  color: rosybrown;
  font-weight: bold;
  text-align: center; }

footer {
  background-color: rgb(128, 127, 125);
  text-align: right;
  padding: 0.5em; }

a {
  color: white;
  text-decoration: none; }

a:hover {
  opacity: 0.5; }

@media only screen and (max-width: 768px) {
  .course { display: block; }
  .course .title, .course .descrition { max-width: 100%; }
}
  
@media only screen and (max-width: 576px) {
  .skills { display: block; }
  .skills .column { max-width: 100%; }
  footer { text-align: center; }
}
